{{ partial "header" . }}

<main>
	<div class="main-wrapper">
	    <div class="container preview-wrapper">
				<canvas id="canvas" width="400" height="400"></canvas>
				<input id='scale-bar' type='range' value='10' min='1' max='30' disabled>
				<p>加工イメージ</p>
		</div>
		<div class="container parts-wrapper">
			<div class="parts-list">
				<p>1. 画像をアップロードする
				</p>
				<input id="uploader" class="uploader" type="file" name="test" accept="image/*, png/*">
			</div>
			<div class="parts-list">
				<p>2. リングを選択する</p>
				<div class="icon-wrapper">
					<div class="icon-list">
						<input type="radio" id="icon-ring-1" class="radio-button ring" name="ring" value="icon-ring-1" disabled>
						<label for="icon-ring-1">ring-1</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-2" class="radio-button ring" name="ring" value="icon-ring-2" disabled>
						<label for="icon-ring-2">ring-2</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-3" class="radio-button ring" name="ring" value="icon-ring-3" disabled>
						<label for="icon-ring-3">ring-3</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-4" class="radio-button ring" name="ring" value="icon-ring-4" disabled>
						<label for="icon-ring-4">ring-4</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-5" class="radio-button ring" name="ring" value="icon-ring-5" disabled>
						<label for="icon-ring-5">ring-5</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-6" class="radio-button ring" name="ring" value="icon-ring-6" disabled>
						<label for="icon-ring-6">ring-6</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-7" class="radio-button ring" name="ring" value="icon-ring-7" disabled>
						<label for="icon-ring-7">ring-7</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-8" class="radio-button ring" name="ring" value="icon-ring-8" disabled>
						<label for="icon-ring-8">ring-8</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-9" class="radio-button ring" name="ring" value="icon-ring-9" disabled>
						<label for="icon-ring-9">ring-9</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-10" class="radio-button ring" name="ring" value="icon-ring-10" disabled>
						<label for="icon-ring-10">ring-10</label>
					</div>
				</div>
			</div>
			<div class="parts-list">
				<p>3. パーツを選択する</p>
				<div class="icon-wrapper">
					<div class="icon-list">
						<input type="radio" id="icon-parts-1" class="radio-button parts" name="parts" value="icon-parts-1" disabled>
						<label for="icon-parts-1">parts-1</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-2" class="radio-button parts" name="parts" value="icon-parts-2" disabled>
						<label for="icon-parts-2">parts-2</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-3" class="radio-button parts" name="parts" value="icon-parts-3" disabled>
						<label for="icon-parts-3">parts-3</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-4" class="radio-button parts" name="parts" value="icon-parts-4" disabled>
						<label for="icon-parts-4">parts-4<br>※パーツ無し</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-5" class="radio-button parts" name="parts" value="icon-parts-5" disabled>
						<label for="icon-parts-5">parts-5</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-6" class="radio-button parts" name="parts" value="icon-parts-6" disabled>
						<label for="icon-parts-6">parts-6</label>
					</div>
				</div>
			</div>
			<div class="parts-list">
				<p>4. 加工イメージを操作(拡大縮小/ズームイン)して、画像をダウンロードする</p>
				<button id="download" class="download-button" style="visibility: hidden">download</button>
			</div>
		</div>
	</div>
</main>
<script src="./script.js"></script>

{{ partial "footer" . }}