{{ partial "header" . }}

<main>
	<div class="main-wrapper">
	    <div class="container preview-wrapper">
				<canvas id="canvas" width="400" height="400"></canvas>
				<input id="uploader" class="uploader" type="file" name="test" accept="image/*, png/*">
				<button id="download" class="download-button" style="visibility: hidden">download</button>
	    </div>
	    <div class="container parts-wrapper">
			<div class="parts-list">
				<p>2. リングを選択する</p>
				<div class="icon-wrapper">
					<div class="icon-list">
						<input type="radio" id="icon-ring-1" class="radio-button ring" name="ring" value="icon-ring-1" disabled>
						<label for="icon-ring-1">icon-1</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-2" class="radio-button ring" name="ring" value="icon-ring-2" disabled>
						<label for="icon-ring-2">icon-2</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-3" class="radio-button ring" name="ring" value="icon-ring-3" disabled>
						<label for="icon-ring-3">icon-3</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-4" class="radio-button ring" name="ring" value="icon-ring-4" disabled>
						<label for="icon-ring-4">icon-4</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-5" class="radio-button ring" name="ring" value="icon-ring-5" disabled>
						<label for="icon-ring-5">icon-5</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-6" class="radio-button ring" name="ring" value="icon-ring-6" disabled>
						<label for="icon-ring-6">icon-6</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-7" class="radio-button ring" name="ring" value="icon-ring-7" disabled>
						<label for="icon-ring-7">icon-7</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-8" class="radio-button ring" name="ring" value="icon-ring-8" disabled>
						<label for="icon-ring-8">icon-8</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-9" class="radio-button ring" name="ring" value="icon-ring-9" disabled>
						<label for="icon-ring-9">icon-9</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-ring-10" class="radio-button ring" name="ring" value="icon-ring-10" disabled>
						<label for="icon-ring-10">icon-10</label>
					</div>
				</div>
			</div>
			<div class="parts-list">
				<p>3. パーツを選択する</p>
				<div class="icon-wrapper">
					<div class="icon-list">
						<input type="radio" id="icon-parts-1" class="radio-button parts" name="parts" value="icon-parts-1" disabled>
						<label for="icon-parts-1">icon-1</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-2" class="radio-button parts" name="parts" value="icon-parts-2" disabled>
						<label for="icon-parts-2">icon-2</label>
					</div>
					<div class="icon-list">
						<input type="radio" id="icon-parts-3" class="radio-button parts" name="parts" value="icon-parts-3" disabled>
						<label for="icon-parts-3">icon-3</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="./script.js"></script>

{{ partial "footer" . }}