<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="site-header">
      <h1 class="site-title">imoniCampアイコンリング制作サイト</h1>
    </div>
    <div class="site-header-logo">
      <img src="https://dl.qloba.info/uploads/projects/photo/photo/13729/b900cd8b-6995-46ab-8bdf-9cfdf5fe81d4.png" width="100%">
    </div>
  </header>