@font-face {
    font-family: yomogi;
    src: url(./Yomogi-Regular.ttf   );
}

/* pc用CSS*/
@media(min-width: 751px) {
    .main-wrapper {
        margin: 10px 10px;
    }
}

/* スマートフォン用CSS*/
@media(400px < width <= 750px) {
    .main-wrapper {
        flex-wrap: wrap;
        margin: auto 0;
    }
}

@media(max-width: 400px) {
    header {
        width: 400px;
    }
    .main-wrapper {
        flex-wrap: wrap;
        margin: auto 0;
    }
    footer {
        width: 400px;
    }
}



body {
    margin: 0;
    background-color: beige;
    font-family: yomogi;
}
.main-wrapper {
    display: flex;
}

.container {
    width: 50%;
    min-width: 400px
}

.site-title {
    background-color: black;
    color: #fff;
    text-align: center;
    margin: 0px;
}
footer {
    text-align: center;
    background-color: black;
    color: #fff;
    margin: 0px;
    padding: 5px 0px;
}
.preview-wrapper {
    display: block;
    text-align: center;
}
.uploader {
    margin: 5px auto;
    display: block;
}
.download-button {
    margin: 5px auto;
    display: block;
    width: 400px;
    height: 50px;
    color: #fff;
    background-color: #0759de;
    border-radius: 100vh;
}
.download-button:hover {
    color: #fff;
    background-color: #0042ad;
}


/* ここから右画面用 */
.parts-wrapper {
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.parts-list {
    display: block;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: solid 2px #ddd;
}
.parts-list p {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #ddd;
    margin: auto;
    padding: 10px;
}

.icon-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    margin: auto;
    text-align: center;
}
.icon-wrapper div {
    margin: auto;
    padding: 5px;
}
.icon-wrapper img {
    width: 100%;
    width: 100%;
    padding: 5px;
    margin: auto;
}
.icon-list {
    text-align: center;
    display: block;
}
.radio-button {
    margin: 5px auto;
    text-align: center;
    display: block;
}

input[type=radio]+label:before{
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8vw;
    height: 8vw;
    padding: 5px;
}

/* リング */
input[type=radio][value="icon-ring-1"]+label:before {
    background-image: url(./img/color_1.png);
}
input[type=radio][value="icon-ring-2"]+label:before {
    background-image: url(./img/color_2.png);
}
input[type=radio][value="icon-ring-3"]+label:before {
    background-image: url(./img/color_3.png);
}
input[type=radio][value="icon-ring-4"]+label:before {
    background-image: url(./img/color_4.png);
}
input[type=radio][value="icon-ring-5"]+label:before {
    background-image: url(./img/color_5.png);
}
input[type=radio][value="icon-ring-6"]+label:before {
    background-image: url(./img/color_6.png);
}
input[type=radio][value="icon-ring-7"]+label:before {
    background-image: url(./img/color_7.png);
}
input[type=radio][value="icon-ring-8"]+label:before {
    background-image: url(./img/color_8.png);
}
input[type=radio][value="icon-ring-9"]+label:before {
    background-image: url(./img/color_9.png);
}
input[type=radio][value="icon-ring-10"]+label:before {
    background-image: url(./img/color_10.png);
}
/* パーツ */
input[type=radio][value="icon-parts-1"]+label:before {
    background-image: url(./img/etc_cat.png);
}
input[type=radio][value="icon-parts-2"]+label:before {
    background-image: url(./img/etc_bird.png);
}
input[type=radio][value="icon-parts-3"]+label:before {
    background-image: url(./img/etc_giraffe.png);
}